<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/HealthCareApp/HeartApi/templates/style.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
</head>
  <body>
    <header class="header">
        <img src="/HealthCareApp/images/logo.png" id="logo" alt="">

        <nav class="navbar">
            <a href="/HealthCareApp/index.html">home</a>
            <a href="/HealthCareApp/index.html">about</a>
            <a href="/HealthCareApp/index.html">services</a>
            <a href="/HealthCareApp/index.html">gallery</a>
            <a href="/HealthCareApp/index.html">contact</a>
        </nav>

        <div class="icons">
            <div id="menubar" class="fas fa-bars"></div>
            <a href="#">contact</a>
        </div>
    </header>
    <div class="container">
        <div class="heading">
            Heart Check Up
        </div>
        <form action="#">
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Constrictive pericarditis</span>
                    <input type="number" placeholder="Constrictive pericarditis">
                </div>
                <div class="card-box">
                    <span class="details">Resting blood pressure</span>
                    <input type="number" placeholder="Resting blood pressure">
                </div>
                <div class="card-box">
                    <span class="details">Cholesterol</span>
                    <input type="number" placeholder="Cholesterol">
                </div>
                <div class="card-box">
                    <span class="details">Fasting Blood Sugar</span>
                    <input type="number" placeholder="Fasting Blood Sugar">
                </div>
                <div class="card-box">
                    <span class="details">Resting electrocardiographic results</span>
                    <input type="number" placeholder="Resting electrocardiographic results">
                </div>
                <div class="card-box">
                    <span class="details">Maximum Heart Rate</span>
                    <input type="number" placeholder="Maximum Heart Rate">
                </div>
                <div class="card-box">
                    <span class="details">Exercise Induced Angina</span>
                    <input type="number" placeholder="Exercise Induced Angina">
                </div>
            </div>
            <div class="button">
                <input type="Submit" value="Submit">
            </div>
        </form>
    </div>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </body>
</html>