<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= {{ url_for('static', filename='css/cancer.css') }}>
    <link rel="stylesheet" href="/HealthCareApp/static/css/fontawesome-free-5.15.3-web/css/all.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
</head>
  <body>
    <header class="header">
        <img src={{ url_for('static', filename = 'images/logo.png')}} id="logo" alt="">

        <nav class="navbar">
            <a href="/HealthCareApp/index.html">home</a>
            <a href="/HealthCareApp/index.html">about</a>
            <a href="/HealthCareApp/index.html">services</a>
            <a href="/HealthCareApp/index.html">gallery</a>
            <a href="/HealthCareApp/index.html">contact</a>
        </nav>

        <div class="icons">
            <div id="menubar" class="fas fa-bars"></div>
            <a href="#">contact</a>
        </div>
    </header>
    <div class="container">
        <div class="heading">
            Cancer Check Up
        </div>
        <form action="/submit1" method="POST">
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Concave Points Mean</span>
                    <input type="number" step="0.0001" name="Concave_Points_Mean" placeholder="Concave Points Mean">
                </div>
                <div class="card-box">
                    <span class="details">Area Mean</span>
                    <input type="number" step="0.0001" name="Area_Mean" placeholder="Area Mean">
                </div>
                <div class="card-box">
                    <span class="details">Radius Mean</span>
                    <input type="number" step="0.0001" name="Radius_Mean" placeholder="Radius Mean">
                </div>
                <div class="card-box">
                    <span class="details">Perimeter Mean</span>
                    <input type="number" step="0.0001" name="Perimeter_Mean" placeholder="Perimeter Mean">
                </div>
                <div class="card-box">
                    <span class="details">Concavity Mean</span>
                    <input type="number" step="0.0001" name="Cancavity_Mean" placeholder="Concavity Mean">
                </div>
            </div>
            <button type="predict" class="btn btn-danger">Predict</button>
        </form>
    </div>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </body>
</html>